<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.yi.hairshop.dao.CommentMapper">
	<resultMap type="Comment" id="basicComment">
		<result property="cNo" column="c_no" />
		<result property="cWriter" column="c_writer" />
		<result property="cWritetime" column="c_writetime" />
		<result property="cContent" column="c_content" />
		<result property="cDelete" column="c_delete" />
	</resultMap>
	<resultMap type="Comment" id="extendComment" extends="basicComment">
		<association property="gNo" resultMap="kr.yi.hairshop.dao.GuestMapper.basicGuest"/>
		<association property="rNo" resultMap="kr.yi.hairshop.dao.ReviewMapper.basicReview"/>
	</resultMap>
	
	
	<select id="selectComment" resultType="Comment">
		SELECT c_no, r_no, g_no, c_writer, c_content, c_writetime
		FROM comment
		where c_delete = 0 and r_no = #{rNo}
	</select>

	<update id="deleteComment">
		UPDATE comment
		SET c_delete=1
		WHERE c_no=#{cNo}
	</update>
	
	<insert id="insertComment" parameterType="Comment">
		INSERT INTO comment (c_no, g_no, r_no, c_content, c_writer, c_writetime)
		VALUES(#{cNo}, #{gNo.gNo}, #{rNo.rNo}, #{cContent}, #{cWriter}, now());
	</insert>

	<update id="updateComment" parameterType="Comment">
		UPDATE comment
		SET c_content=#{cContent}, c_writetime=now()
		WHERE c_no=#{cNo}
	</update>

	<select id="selectAll" resultMap="extendComment">
		select * from comment
	</select>
	
	<select id="selectAllByrNo" resultMap="extendComment">
		select * from comment where r_no=#{rNo} and c_delete=0
	</select>
</mapper>