<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.yi.hairshop.dao.GuestMapper">

	<resultMap type="Guest" id="extendsGuest"
		extends="basicGuest">
		<association property="gLGrade"	resultMap="kr.yi.hairshop.dao.LevelMapper.basicLevel" />
		<collection property="workDialogList" resultMap="kr.yi.hairshop.dao.WorkDialogMapper.basicWorkDialog" />
	</resultMap>

	<resultMap type="Guest" id="basicGuest">
		<result property="gNo" column="g_no" />
		<result property="gId" column="g_id" />
		<result property="gPassword" column="g_password" />
		<result property="gName" column="g_name" />
		<result property="gTel" column="g_tel" />
		<result property="gEmail" column="g_email" />
		<result property="gBirth" column="g_birth" />
		<result property="gJoin" column="g_join" />
		<result property="gPoint" column="g_point" />
		<result property="gMemo" column="g_memo" />
		<result property="gSecession" column="g_secession"/>
	</resultMap>

	<select id="selectGuestByAll" resultType="Guest" resultMap="extendsGuest">
		SELECT g_no, g_id, g_password, g_l_grade as l_grade, g_name,
		g_tel, g_email,
		g_birth, g_join, g_point, g_memo
		FROM hairshop.guest
		where g_secession = false
	</select>
	
	<select id="selectGuestByNo" resultType="Guest"	resultMap="extendsGuest">
		SELECT g_no, g_id, g_password, g_l_grade as l_grade, g_name,
		g_tel, g_email,
		g_birth, g_join, g_point, g_memo
		FROM hairshop.guest
		where g_secession = false
		and g_no=#{gNo}
	</select>
	
	<select id="selectGuestBygName" resultMap="extendsGuest">
		SELECT g_no, g_id, g_l_grade as l_grade, g_name,
		g_tel, g_email,
		g_birth, g_join, g_point, g_memo
		FROM guest
		where g_name like CONCAT('%',#{gName},'%')
	</select>
	<select id="selectGuestByGNameGTel" resultMap="extendsGuest">
		SELECT g_no, g_id, g_l_grade as l_grade, g_name,
		g_tel, g_email,
		g_birth, g_join, g_point, g_memo
		FROM guest
		where g_name=#{gName}
		and g_tel=#{gTel}
	</select>
	
	<insert id="insertGuest" parameterType="Guest">
		INSERT INTO
		hairshop.guest
		(g_id, g_password, g_l_grade, g_name, g_tel, g_email, g_birth, g_join,
		g_point, g_memo)
		VALUES(#{gId}, #{gPassword}, #{gLGrade.lGrade}, #{gName}, #{gTel}, #{gEmail}, #{gBirth}, #{gJoin}, 0, #{gMemo});

	</insert>

	<!-- 전체내용 업데이트 -->
	<update id="updateGuest">
		UPDATE hairshop.guest
		SET g_id=#{gId}, g_password=#{gPassword}, g_l_grade=#{gLGrade.lGrade}, g_name=#{gName},
		g_tel=#{gTel}, g_email=#{gEmail}, g_birth=#{gBirth}, g_join=#{gJoin},
		g_point=#{gPoint}, g_memo=#{gMemo}, g_secession=#{gSecession}
		where g_no=#{gNo};
	</update>
	
	<!-- 업데이트 - id, pass 뺀것 -->
	<update id="updateGuest2">
		UPDATE hairshop.guest
		SET g_l_grade=#{gLGrade.lGrade}, g_name=#{gName},
		g_tel=#{gTel}, g_email=#{gEmail}, g_birth=#{gBirth}, g_join=#{gJoin},
		g_point=#{gPoint}, g_memo=#{gMemo}
		where g_no=#{gNo};
	</update>
	
	<!-- mypage에서 내용 수정 tel, email, birth-->
	<update id="updateGuest3">
		UPDATE hairshop.guest
		SET g_tel=#{gTel}, g_email=#{gEmail}, g_birth=#{gBirth}
		where g_no=#{gNo};
	</update>

	<!-- mypage에서 비밀번호 변경 -->
	<update id="updateGuestPassword">
		UPDATE hairshop.guest
		SET g_password=#{gPassword}
		where g_no=#{gNo};
	</update>

	<update id="deleteGuest">
		update hairshop.guest
		set g_secession = true
		WHERE g_no=#{gNo};
	</update>
	
	<insert id="insertGuestByWorkMain"  useGeneratedKeys="true" keyProperty="gNo">
		insert into hairshop.guest
		(g_name, g_tel,g_join)
		values(#{gname},#{gtel},#{gjoin})
	</insert>
	
	<!-- 웹 프로젝트 -->
	<select id="selectById" resultType="Guest" resultMap="extendsGuest">
		select g_no, g_id, g_password, g_l_grade as l_grade , g_name, g_tel, g_email, g_birth, g_join, g_point, g_memo, g_secession 
		from hairshop.guest
		where g_id = #{id}
	</select>

	<select id="selectGuestByEmail" resultType="Guest" resultMap="extendsGuest">
		select g_no, g_id, g_password, g_l_grade as l_grade , g_name, g_tel, g_email, g_birth, g_join, g_point, g_memo, g_secession 
		from hairshop.guest
		where g_email = #{email}
	</select>
	
	<insert id="insertByNaver" parameterType="Guest" useGeneratedKeys="true" keyProperty="gNo">
		insert into hairshop.guest
		(g_id, g_l_grade, g_name, g_tel, g_email, g_birth, g_join, g_point, g_memo)
		values(#{gId}, #{gLGrade.lGrade}, #{gName}, #{gTel}, #{gEmail}, #{gBirth}, #{gJoin}, #{gPoint}, #{gMemo})
	</insert>
	
	
	
</mapper>