<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.yi.hairshop.dao.ProductMapper">
	
	
	<resultMap type="Product" id="basicProduct">
		<result property="pPrice" column="p_price" />
		<result property="pName" column="p_name" />
		<result property="pDivision" column="p_division" />
	</resultMap>
	
	
	<select id="selectProductByAll" resultType="Product">
		select * from product where p_secession = false order by p_name
	</select>
	
	<insert id="insert" parameterType="Product">
		insert into product
		(p_name, p_price, p_division)
		values(#{pName}, #{pPrice}, #{pDivision})
	</insert>
	
	<update id="updateByName">
		update product
		set p_name=#{pName}, p_price=#{pPrice}, p_division=#{pDivision}
		where p_name=#{pName}
	</update>	
	
	<update id="deleteByName">
		update product
		set p_secession = 1
		where p_name=#{param1}
	</update>

	<select id="selectDateYearPriceChart" resultType="Product">
		select sum(w_priceTotal) as p_price,left(w_workTime,7) as p_name 
		from workdialog
		where w_workTime is not null
		and left(w_workTime,4)=#{year}
		group by left(w_workTime,7)
	</select>
	
	<select id="selectByProductName" resultType="Product">
		select count(p_division) as pPrice, p_division as pName
		from product group by p_division
	</select>
	
</mapper>