<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.yi.hairshop.dao.ReviewMapper">
	<resultMap type="Review" id="basicReview">
		<result property="rNo" column="r_no" />
		<result property="rTitle" column="r_title" />
		<result property="rWriter" column="r_writer" />
		<result property="rWritetime" column="r_writetime" />
		<result property="rContent" column="r_content" />
		<result property="rFile" column="r_file" />
		<result property="rDelete" column="r_delete" />
	</resultMap>
	<resultMap type="Review" id="extendReview" extends="basicReview">
		<association property="rGNo" resultMap="kr.yi.hairshop.dao.GuestMapper.basicGuest" />
		<association property="rDNo" resultMap="kr.yi.hairshop.dao.DesignerMapper.basicDesigner" />
	</resultMap>

	<select id="selectReview" resultType="Review">
		select r_no, r_title, r_writer, r_writetime from review where r_delete=0 order by r_no desc
	</select>
	<select id="selectBoardManager" resultMap="extendReview">
		select r_no, r_title, r_writer, r_writetime, r_d_no as d_no
		from review
		where r_d_no is not null
		order by r_no desc
	</select>
	
	<insert id="insertReview" parameterType="Review" >
		INSERT INTO review
		(r_title, r_writer, r_writetime, r_content, r_file, r_g_no)
		VALUES(#{rTitle}, #{rWriter}, now(), #{rContent}, #{rFile}, #{rGNo.gNo})
	</insert>
	<insert id="insertManagerBoard" parameterType="Review" >
		INSERT INTO review
		(r_title, r_writer, r_writetime, r_content, r_file, r_d_no)
		VALUES(#{rTitle}, #{rWriter}, now(), #{rContent}, #{rFile}, #{rDNo.dNo})
	</insert>

	<update id="deleteReview">
		update review
		set r_delete = true
		where r_no=#{rNo}
	</update>

	<select id="selectListByNo" resultType="Review">
		select r_no, r_title, r_writer, r_writetime, r_content, r_file, r_g_no as rGNo from review where r_no=#{rNo}
	</select>

	<update id="updateReview" parameterType="Review">
		UPDATE review
		SET r_title=#{rTitle}, r_writetime=now(), r_content=#{rContent}, r_file=#{rFile}
		WHERE r_no=#{rNo}
	</update>

</mapper>