<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.yi.hairshop.dao.WorkDialogMapper">
	<resultMap type="WorkDialog" id="basicWorkDialog">
		<result property="wNo" column="w_no"/>
		<result property="wWorkTime" column="w_workTime" />
		<result property="wReservTime" column="w_reservTime" />
		<result property="wPriceTotal" column="w_priceTotal" />
	</resultMap>
	<resultMap type="WorkDialog" id="resultWorkDialog"> 
		<result property="wNo" column="w_no"/>
		<result property="wWorkTime" column="w_workTime" />
		<result property="wReservTime" column="w_reservTime" />
		<result property="wPriceTotal" column="w_priceTotal" />
		<association property="wDNo" resultMap="kr.yi.hairshop.dao.DesignerMapper.extendsDesigner"/>
		<association property="wEName" resultMap="kr.yi.hairshop.dao.EventMapper.basicEvent"/>
		<association property="wGNo" resultMap="kr.yi.hairshop.dao.GuestMapper.basicGuest" />
	</resultMap>
	<resultMap type="WorkDialog" id="selectWDGECPjoinByNo" extends="basicWorkDialog">
		<association property="wDNo" resultMap="kr.yi.hairshop.dao.DesignerMapper.basicDesigner"/>
		<association property="wEName" resultMap="kr.yi.hairshop.dao.EventMapper.basicEvent"/>
		<association property="wGNo" resultMap="kr.yi.hairshop.dao.GuestMapper.basicGuest"/>
		<collection property="productList" resultMap="kr.yi.hairshop.dao.ProductMapper.basicProduct"/>
	</resultMap>
	<!-- 다영:디자이너 프레임에 작업이력보이려고 -->
	<resultMap type="WorkDialog" id="resultWorkDialogfivejoin" extends="basicWorkDialog">
		<result property="wNo" column="w_no"/>
		<result property="wWorkTime" column="w_workTime" />
		<result property="wReservTime" column="w_reservTime" />
		<result property="wPriceTotal" column="w_priceTotal" />
		<association property="wDNo" resultMap="kr.yi.hairshop.dao.DesignerMapper.extendsDesigner"/>
		<association property="wGNo" resultMap="kr.yi.hairshop.dao.GuestMapper.extendsGuest" />
		<collection property="productList" resultMap="kr.yi.hairshop.dao.ProductMapper.basicProduct"/>
	</resultMap>
	
	<!-- 예약현황 검색용 -->
	<resultMap type="WorkDialog" id="reserveDetail" extends="basicWorkDialog">
		<association property="wEName" resultMap="kr.yi.hairshop.dao.EventMapper.basicEvent"/>
		<association property="wDNo" resultMap="kr.yi.hairshop.dao.DesignerMapper.extendsDesigner"/>
		<association property="wGNo" resultMap="kr.yi.hairshop.dao.GuestMapper.extendsGuest"/>
		<collection property="productList" resultMap="kr.yi.hairshop.dao.ProductMapper.basicProduct"/>
	</resultMap>
	
<!-- 	<resultMap type="" id="" extends="basicWorkDialog">
		<association property="wDNo" resultMap="kr.yi.hairshop.dao.DesignerMapper.extendsDesigner"/>
		<association property="wEName" resultMap="kr.yi.hairshop.dao.EventMapper.basicEvent"/>
		<association property="wGNo" resultMap="kr.yi.hairshop.dao.GuestMapper.basicGuest" />
	</resultMap> -->
	
	<!-- 웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹 -->
	
	<select id="selectByIdForReservState" resultMap="reserveDetail">
		<!-- 예약 정보 확인 page 검색용 -->
		select g_id, g_name, w_reservTime, w_priceTotal, d_name, d_grade, p_name, w_workTime
		from workdialog w
		left join designer d on w.w_d_no = d.d_no
		left join guest g on w.w_g_no = g.g_no
		left join event e on w.w_e_name = e.e_name
		left join level v on g.g_l_grade = v.l_grade
		left join choice c on w.w_no = c.c_w_no
		left join product p on c.c_p_name = p.p_name
		left join tax t on p.p_name = t.t_name
		where g_id=#{id} and w_worktime
			<if test="check==1"> is not null </if>
			<if test="check==0"> is null	 </if>		
		order by w_reservTime desc
	</select>
	
	<!-- 웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹웹 -->
	
	
	<select id="selectWDGECPjoinByWNo" resultMap="selectWDGECPjoinByNo">
		SELECT *
		FROM workdialog w
		left join designer d on w.w_d_no=d.d_no
		left join event e on w.w_e_name=e.e_name
		left join choice c on w.w_no=c.c_w_no
		left join product p on c.c_p_name=p.p_name
		left join guest g on w_g_no=g.g_no
		where w.w_no=#{wNo}
	</select>
	<select id="selectWDGECPjoinByWDNoDate" resultMap="selectWDGECPjoinByNo">
		SELECT *
		FROM workdialog w left join designer d
		on w.w_d_no=d.d_no left join event e
		on w.w_e_name=e.e_name left join choice c
		on w.w_no=c.c_w_no left join product p
		on c.c_p_name=p.p_name left join guest g
		on w_g_no=g.g_no 
		where w.w_d_no=#{wDNo}
		and w_reservTime <![CDATA[>]]> concat(#{date}, ' 00:00:00')
		and w_reservTime <![CDATA[<]]> concat(#{date}, ' 23:59:59')
		order by w_reservTime
	</select>
	<select id="selectWDjoinByWDNoDate" resultMap="selectWDGECPjoinByNo">
		select * 
		from workdialog w
		join designer d on w.w_d_no=d.d_no
		where d.d_name=#{dName}
		and d.d_grade=#{dGrade}
		and left(w_reservTime,10)=#{date}
		order by w_reservTime
	</select>
	<select id="selectDListByNo" parameterType="int" resultMap="resultWorkDialog">
		select
		w_no, w_workTime, w_reservTime, w_e_name, w_d_no, w_g_no, g.g_name
		from workdialog w
		join guest g
		on w.w_d_no=#{dNo} and w.w_g_no=g.g_no;
	</select>
	<select id="selectByAll" resultType="WorkDialog">
		select
		w_no, w_workTime, w_reservTime, w_e_name, w_d_no, w_g_no, 
		c_w_no, c_p_name, 
		g_no, g_l_grade, g_email, g_birth, g_name, g_tel, g_point, g_memo
		from workdialog w
		left join
		choice c
		on w.w_no=c.c_w_no
		left join guest g
		on w.w_g_no=g.g_no
	</select>
	
	<select id="selectByfivejoinMap" resultMap="resultWorkDialogfivejoin">
		SELECT g_name, w_workTime, p_name, p_price, w_priceTotal
		FROM workdialog w
		join designer d on w.w_d_no=d.d_no
		join choice c on w.w_no=c.c_w_no
		join product p on c.c_p_name=p.p_name
		join guest g on w_g_no=g.g_no
		where d_no=#{dNo}
		and w_workTime is not null
	</select>
	
	<select id="selectReservDetail" resultMap="reserveDetail">
		select
		w_no, w_reservTime, e_name, w_priceTotal, w_workTime, d_name, d_grade, g_name, l_grade, p_name
		from workdialog w
		left join designer d on w.w_d_no = d.d_no
		left join guest g on w.w_g_no = g.g_no
		left join event e on w.w_e_name = e.e_name
		left join level v on g.g_l_grade = v.l_grade
		left join choice c on w.w_no = c.c_w_no
		left join product p on c.c_p_name = p.p_name
		left join tax t on p.p_name = t.t_name
		order by w_no
	</select>
	
	
	<select id="selectReservDetailByDate" parameterType="map" resultMap="reserveDetail">
		select
		w_no, w_reservTime, e_name, w_priceTotal, w_workTime, d_name, d_grade, g_name, l_grade, p_name
		from workdialog w
		left join designer d on w.w_d_no = d.d_no
		left join guest g on w.w_g_no = g.g_no
		left join event e on w.w_e_name = e.e_name
		left join level v on g.g_l_grade = v.l_grade
		left join choice c on w.w_no = c.c_w_no
		left join product p on c.c_p_name = p.p_name
		left join tax t on p.p_name = t.t_name
		where w_reservTime between #{start} and #{end}
		order by w_no
	</select>
	
	<insert id="insertWorkDialogResWNoNoGuest" parameterType="WorkDialog" useGeneratedKeys="true" keyProperty="wNo">
		INSERT INTO hairshop.workdialog
		(w_workTime, w_reservTime, w_priceTotal, w_e_name, w_d_no, w_g_no)
		VALUES(#{wWorkTime}, #{wReserveTime}, #{wPriceTotal}, #{wEName.eName}, #{wDNo.dNo}, #{wGNo.gNo});
	</insert>
	
	<insert id="insertChoice">
		INSERT INTO hairshop.choice
		(c_w_no, c_p_name)
		VALUES(#{wNo}, #{pName});
	</insert>
	
	<delete id="deleteChoice">
		DELETE FROM hairshop.choice
		WHERE c_w_no=#{wNo}
	</delete>
	
	<update id="updateWorkDialog">
		UPDATE hairshop.workdialog
		SET
		w_reservTime=#{wReserveTime},
		w_priceTotal=#{wPriceTotal},
		w_e_name=#{wEName.eName},
		w_d_no=#{wDNo.dNo},
		w_g_no=#{wGNo.gNo}
		WHERE w_no=#{wNo};
	</update>
	<update id="updateWorkDialogWorkTime">
		UPDATE hairshop.workdialog
		SET
		w_workTime=#{wWorkTime},
		w_reservTime=#{wReserveTime},
		w_priceTotal=#{wPriceTotal},
		w_e_name=#{wEName.eName},
		w_d_no=#{wDNo.dNo},
		w_g_no=#{wGNo.gNo}
		WHERE w_no=#{wNo};
	</update>
	
	<delete id="deleteWorkDialog">
		DELETE FROM hairshop.workdialog
		WHERE w_no=#{wNo};
	</delete>
	
	<select id="selectTotalPriceByDesigner" parameterType="int" >
		select sum(w_priceTotal)
		from workdialog
		where w_d_no=#{wDNo}
	</select>
	
	<select id="selectGuestBarChartPrice" resultMap="selectWDGECPjoinByNo">
		select count(w_g_no) as w_priceTotal, w_g_no, g_name 
		from workdialog w 
		join guest g
		on w.w_g_no=g.g_no
		group by w_g_no 
		order by count(w_priceTotal) desc
	</select>
	<select id="selectGuestBarChartCount" resultMap="selectWDGECPjoinByNo">
		select sum(w_priceTotal) as w_priceTotal, w_g_no, g_name 
		from workdialog w 
		join guest g
		on w.w_g_no=g.g_no
		group by w_g_no 
		order by sum(w_priceTotal) desc
	</select>
	
	<select id="selectByDName" resultMap="reserveDetail">
		select sum(w_priceTotal) as w_priceTotal, d_name
		from workdialog w
		left join choice c on w.w_g_no = c.c_w_no
		left join designer d on w.w_d_no = d.d_no
		group by d_name
	</select>
	
	<select id="selectByDateForChartMon" resultMap="reserveDetail">
		select sum(w_priceTotal) as w_priceTotal, d_name, w_reservTime
		from workdialog w
		left join choice c on w.w_g_no = c.c_w_no
		left join designer d on w.w_d_no = d.d_no
		where w_reservTime between #{start} and #{end}
		group by d_name	
	</select>
	<select id="selectBygNameAndgTel" resultMap="selectWDGECPjoinByNo">
		select *
		from workdialog w
		join guest g
		on w.w_g_no=g.g_no
		join choice c
		on w.w_no=c.c_w_no
		join product p
		on p.p_name=c.c_p_name
		join designer d
		on d.d_no=w.w_d_no
		where g.g_name=#{gName} and g.g_tel=#{gTel}
	</select>
	

	
</mapper>




